{% extends 'assignments/assignment_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title_name %}
    LMS - {{submissions.topic}}
{% endblock title_name %}
    


{% block main_content %}
    <div class="container">
        {% if submissions.assignment_ques.course.teacher.id == user.id or submissions.author.id == user.id %}
            <h1>{{submissions.topic}}</h1>
            <h4>{{submissions.author}} :ارسال شده از طرف </h4>
            <h6> {{submissions.submitted_date}} :ارسال شده در تاریخ</h6>
            <p>{{submissions.description}}:شرح</p>
            <p>{{submissions.assignment_file.name}} :الصاق شده </p>
             
            <a href="{{submissions.assignment_file.url}}" class="btn btn-lg btn-primary" download>دانلود</a>
            <div class="grade">
                {% if submissions.graded == False %}
                    <p>این تکلیف هنوز نمره دهی نشده است</p>
                {% else %}
                    <p>این تکلیف نمره دهی شده است</p>
                    <p>{{submissions.grade}} :نمره</p>
                {% endif %}
            </div>
                
            
            
            {% if user.user_type == 1 and submissions.graded == False %}
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <a href="{% url 'assignments:submit_delete' pk=submissions.pk %}" 
                        class="btn btn-danger btn-lg">حذف</a>
                    </form>
                    
                </div>
            {% else %}
                
                {% if submissions.assignment_ques.course.teacher.id == user.id %}
                    {% if submissions.graded == False %}
                        <div>
                            <a href="{% url 'assignments:grade' pk=submissions.pk %}" 
                            class="btn btn-success btn-lg">نمره</a>
                        </div>
                    {% endif %}
                {% endif %}

            {% endif %}
                
        {% else %}
            <div class="jumbotron">
                <h2>You cannot view this assignment.</h2>
            </div>
        {% endif %}
    </div>
{% endblock main_content %}
    