{% extends 'courses/course_base.html' %}

{% block title_name %}
LMS - {{course.course_name}}
{% endblock title_name %}

{% block main_content %}
<h1>{{course.course_name}}</h1>
<h4>{{course.teacher}} :استاد درس</h4>
<p> {{course.course_description}} :توضیحات درس</p>

{% if user.user_type == 1 %} {%if user in course.students.all%}
<a
        href="{% url 'courses:unenroll' pk=course.pk %}"
        class="btn btn-danger btn-lg"
>Unenroll</a
>
{% else %}
<a href="{% url 'courses:enroll' pk=course.pk %}" class="btn btn-success btn-lg"
>Enroll</a
>
{% endif %}
{% endif %}

{% if course.teacher.id == user.id or user in course.students.all%}
{% if user.user_type == 2 %}
<a
        href="{% url 'assignments:create' %}"
        class="btn btn-lg btn-fill btn-warning button-stretch"
>
    <i class="fa fa-plus-circle" aria-hidden="true"> ایجاد تکلیف جدید</i>
</a>
<a
        href="{% url 'resources:create' %}"
        class="btn btn-lg btn-fill btn-info button-stretch"
>
    <i class="fa fa-plus-circle" aria-hidden="true"> ایجاد منبع جدید</i>
</a>
{% endif %}

<!--  <div class="assignments">-->

<div class="container text-right" dir="ltr">
    {% if assignments.first %}
    <hr>

    <h3>تکالیف</h3>
    {% endif %}

    <div class="card-deck" dir="rtl">
        {% for assignment in assignments %}
        <div>
            <div class="card" dir="rtl" style="width: 18rem">

                <div class="card-body" style="  border: 1px solid;padding: 8px;box-shadow: 6px 6px 6px 6px #cccccc;">
                    <h5 class="card-title">نام تکلیف: {{assignment.assignment_name}} </h5>

                    <h6 class="card-subtitle mb-2 text-muted">{{assignment.start_date}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{assignment.due_date}}</h6>
                    <a href="{% url 'assignments:detail' pk=assignment.pk %}" class="btn btn-primary card-link">اطلاعات
                        بیشتر</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="resources">
          {% if resources.first %}
<hr>
        <h3>منابع</h3>
{%endif%}
        <div class="card-deck" dir="rtl">
            {% for resource in resources %}
            <div>
                <div class="card" dir="rtl" style="width: 17rem">

                    <div class="card-body"
                         style="  border: 1px solid;padding: 8px;box-shadow: 6px 6px 6px 6px #cccccc;">
                        <h5 class="card-title">نام منبع: {{resource.resource_name}} </h5>
                        <p class="mb-1">
                            <a href="{{resource.resource_file.url}}" class="btn btn-sm btn-primary"
                               download>دانلود</a>
                        </p>
                                      {% if user.id == course.teacher.id %}
                <small><a href="{% url 'resources:delete' pk=resource.pk %}"
                          class="btn btn-sm btn-danger">حذف</a></small>
                {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endif %}
</div>
{% endblock main_content %}
