{% extends 'courses/course_base.html' %} 

{% block title_name %}
  LMS - Courses
{% endblock title_name %}
  
{% block main_content %}
<div class="container text-right" dir="ltr">
  <div>
    <h1 >همه دروس</h1>

    {% if user.user_type == 2 %}
    <a
      href="{% url 'courses:create' %}"
      class="btn btn-lg btn-fill btn-success button-stretch"
    >
      <i class="fa fa-plus-circle" aria-hidden="true"> ایجاد درس جدید</i>
    </a>
    {% endif %}
  </div>
    <div class="card-deck" dir="rtl">
      {% for course_item in object_list %}
      <div>
      <div class="card" dir="rtl" style="width: 17rem">
        <div class="card-body" style="  border: 1px solid;padding: 8px;box-shadow: 6px 6px 6px 6px #cccccc;">
          <h5 class="card-title">{{course_item.course_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{course_item.teacher}}</h6>
          <p class="card-text">
            {{course_item.course_description}}
          </p>
          <a href="{% url 'courses:detail' pk=course_item.pk %}" class="btn btn-primary card-link">اطلاعات بیشتر</a>
          {% if user.user_type == 1 %}
            {%if user in course_item.students.all%}
                <a href="{% url 'courses:unenroll' pk=course_item.pk %}" class="btn btn-danger card-link">Unenroll</a>
            {% else %}
                <a href="{% url 'courses:enroll' pk=course_item.pk %}" class="btn btn-success card-link">Enroll</a>
            {% endif %}
          {% endif %}

          <p>{{course_item.students.count}}
                عضو</p>
          
              
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock main_content %}
</div>
